* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}
section{
    padding: 4rem 0 2rem;
}
img{
    width: 100%;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15, 54, 55 / 10%);
    transition: 0.3s ease;
}

.header.shadow #search-icon {
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}
.logo span {
color: rgba(33, 124, 128, 0.943);
}

.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}


.navbar .active {
    color: rgba(33, 124, 128, 0.943);

}

.navbar a:hover {
    color: rgba(33, 124, 128, 0.943);
}

#search-icon{
    font-size: 24px;
    cursor: pointer;
    color: rgba(33, 124, 128, 0.943);
}

.search-box {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    box-shadow:  4px 4px 20px rgba(0, 247, 255, 0.1);
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}
.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 1s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.home {
max-width: 1300px;
margin: auto;
width: 100%;
min-height: 590px;
display: flex;
align-items: center;
background: url(iii.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center left;
}

.home-text {
    padding-left: 130px;
    color: rgba(9, 75, 79, 0.943);
}

.home-text h1{
    font-size: 2.4rem;
}
.home-text span{
    color: black;
}

.home-text p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
    background: rgba(33, 124, 128, 0.943);
    color: var(--bg-color);
     font-weight: 400;
}
.btn:hover{
    background: rgba(56, 156, 161, 0.943);
}

.heading{
    text-align: center;
}

.heading span{
    font-weight: 500;
    color: rgba(33, 124, 128, 0.943);
}

.heading p {
    font-size: 1rem;
    font-weight: 500;
}

.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 180px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.cars-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cars-container .box img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.cars-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--bg-color);
    padding: 6px;
    border-radius: 0.5rem;
}

.cars-container .box:hover h2 {
    background: rgba(33, 124, 128, 0.943);
    color: var(--bg-color);
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;

}

.about-img{
    flex: 1 1 4rem;
}

.about-text {
    flex: 1 1 2rem;
}

.about-text span {
    font-weight: 500;
    color: rgba(33, 124, 128, 0.943);
}

.about-text h2 {
    font-size: 1.7rem;
}
.about-text p {
    font-size: 1rem;
    margin : 0.5rem 0 1.4rem;
}

.parts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.parts-container .box {
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
}

.parts-container .box img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}

.parts-container .box h3{
    font-size: 1.1rem;
    font-weight: 600;
}

.parts-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(33, 124, 128, 0.943);
    
}

.parts-container .box .bx{
    color: rgba(33, 124, 128, 0.943);
    margin: 0.8rem 0;
}

.parts-container .box .btn{
    max-width: 120px;
}

.parts-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
}

.parts-container .box .details:hover {
     color: rgba(33, 124, 128, 0.943); 
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.blog-container .box{
    flex: 1 1 13rem;
    padding: 20px;
}

..blog-container .box:hover {
    background: white;
}

..blog-container .box span {
    font-size: 0.7rem;
    color: rgba(33, 124, 128, 0.943);
}

.blog-container h3 {
    font-size: 1rem;
}

.blog-container .box p{
    font-size: 1rem;
    margin: 4px 0;
}

.blog-container .box .blog-btn {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
}

.blog-container .box .blog-btn .bx{
    font-size: 20px;
}

.blog-container .box .blog-btn:hover {
    color: rgba(33, 124, 128, 0.943);
    column-gap: 0.7rem;
    transition: 0.2s;
}

.footer {
    background: var(--text-color);
    color: white;
    border-top: 2px solid rgba(33, 124, 128, 0.943);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}

.footer-container .footer-box {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}

.social a:hover {
    color: rgba(33, 124, 128, 0.943);
}

.footer-box h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box p,
.footer-box a {
    color: #818181;
    margin-bottom: 10px;
}

.footer-box a:hover {
    color: var(--bg-color);
}

.copyright {
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}